<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<div id="image-container">
</div>
<div id="target-menu">
  <p>Did you find...</p>
  <button name="patrick">Patrick</button>
  <button name="staircase">The Staircase</button>
  <button name="payphone">The Payphone</button>
</div>
