#Header {
	position:absolute;
	top:0;
	right:0;
}

a {
		font-family: "Times New Roman";
		text-decoration: none;
		color: #777777;
	}
a:hover {
	text-decoration: underline;
 
}

#sib {
	float: right;
	background-color: #4285F4;
}

#Center {
	position: absolute;
	left: 30%;
	top: 30%;
	margin: auto;
}