<html>
<head>
</head>
<body>
  <form>
    <input type='textarea' name='original' />
    <input type='text' name='key' />
    <input type='submit' name='Encrypt!' />
  </form>
  <p>
    <%= encrypted_message %>
  </p>
</body>
</html>
