<html>
<head>
  <h1>Mastermind</h1>
  <h2>
    "Hello, welcome to Mastermind!" <br /> "A colorful game of codebreaking!"
  </h2>
</head>
<body>
  <form>
    <select name='difficulty'>
      <option value='4'>4</option>
      <option value='5'>5</option>
      <option value='6'>6</option>
      <option value='7'>7</option>
      <option value='8'>8</option>
    </select>
    <input type='submit' value='Start Game' />
  </form>
</body>
</html>
