.navbar {
  background-color: #f00;
  width: 90%;
  height: 3em;
  margin: auto;
}

.container{
  margin-left: 5%;
  margin-top: 5%;
  float: left;
  width: 55%;
  max-height: 80vh;
}

.main-video {
  background-color: #0f0;
  width: 100%;
  float: left;
  padding-bottom: 75%
}

.video-data {
  background-color: #0ff;
  width: 100%;
  float: left;
  padding-bottom: 20%;
  margin-top: 5%;
}

.sidebar {
  background-color: #00f;
  margin: 5%;
  width: 25%;
  float: right;
  padding-bottom: 80vh;
}
