<% provide(@current.name) %>
<h1> THIS IS YOUR USER PAGE </h1>
<%= "I'd like to show a name here, like: #{@user.name}" %>

<div class="col-md-6 col-md-offset-3">
  <%= link_to 'Log out', logout_path, method: :delete  %>
</div>
