// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search-image {
  float: left;
  width: 100%;
}
#target-box {
  width: 4%;
  padding-top: 4%;
  position: absolute;
  opacity: 0.4;
  background-color: #0099ff;
}
#target-menu {
  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  padding: 5px 5px;
  display: none;
  width: 130px;
}
#target-menu p {
  background-color: #440000;
  color: #99ffff;
  border-radius: 5px;
  width: 100px;
}
button {
  background-color: #00ff55;
  width: 130px;
  border-radius: 5px;
  padding-bottom: 2px;
  margin-bottom: 2px;
}
