/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom */

header {
  background-color: #010a06;
  width: 100%;
  min-height: 500px;
}
body {
  background-color: #efefef;
}

div {
  display: block;
  float: none;
}

article {
  display: block;
  float: left;
}

h2 a {
  color: #ff4422;
}

h1 {
  color: #ff4422;
}

table {
  margin-right: 5px;
}

table td {
  border-left: 1px solid #ff4422;
  padding-left: 10px;
  padding-right: 10px;
}

table td:first-child {
  border: none;
}

table a {
  color: #ff4422;
}

a:hover {
  color: #000000;
}

footer {
  background-color: #000402;
  color: #172820;
  display: block;
  float: none;
  width: 100%;
  margin: auto;
}

.clear {
  clear:both;
}

.article-container {
  display: block;
  float: none;
  max-width: 90%;
  margin: auto;
}

.fourca {
  background-color: #070711;
  min-height: 250px;
  width: 24%;
  margin: 5px;
}

.tca {
  background-color: #191107;
  min-height: 250px;
  width: 32%;
  margin: 7px;
}

.inlhead {
  float: left;
  margin-left: 5px;
}

.twoca {
  background-color: #191a28;
  width: 100%
  min-height: 400px;
  margin-top: 80px;
}

.twtha {
  background-color: #0b1b13;
  width: 65%;
  min-height: 400px;
  margin: .25%;
}

.ontha {
  background-color: #0b1b13;
  width: 33%;
  min-height: 195px;
  margin: .25%;
  bottom: 0;
}

@media (max-width:1033px) {
  .fourca {
    width: 32%;
    margin: 7px;
  }
  .tca {
    width: 49%;
    margin: 9px;
  }
}
