<h1>Events#index</h1>
<div class="col-md-8">
  <h3>Past Events</h3>
  <ol class="events">
    <%= render @past_events %>
  </ol>
  <h3>Future Events</h3>
  <ol class="events">
    <%= render @future_events %>
  </ol>
</div>
