.grid {
  float: left;
  border: 1px solid #dddddd;
  display: inline-block;
  padding: 1px;
}

.row {
  margin: 0;
}

.cell {
  border: 1px solid #dddddd;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

.snakebody {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, #eeeeee, #323232, #33ae33); /* Safari */
  background: -o-radial-gradient(circle, #eeeeee, #323232, #33ae33); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #eeeeee, #323232, #33ae33); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, #eeeeee, #323232, #33ae33); /* Standard syntax */
}

.snakehead {
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, #333333, #111111, #efffef); /* Safari */
  background: -o-radial-gradient(circle, #333333, #111111, #efffef); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #333333, #111111, #efffef); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, #333333, #111111, #efffef); /* Standard syntax */
}

.food {
  background: #ffbf00;
  text-align: center;
}

.cell .foodvalue {
  margin-top: 1px;
}

#score {
  font-size: 4rem;
  color: #0000ff;
}
