@import url('../grid_based_framework/gbf.css');

nav .logo {
  display: block;
  max-height: 90%;
  float: left;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: bolder;
}

h3 {
  font-size: 1.8rem;
  color: #ff6600;
}

h4 {
  font-size: 1.8rem;
}

.social {
  height: 75px;
  border-bottom: 1px solid #cccccc;
}

.top-row {
  background-image: url("images/jaromir-kavan-233704.jpg");
  background-color: #cccccc;
  color: #efefef;
  text-align: center;
  padding: 30px;
}

.top-row h1 {
  padding: 25px;
}

.top-row h3 {
  padding-bottom: 50px;
}

.light-row h4 {
  color: #ff6600;
}

.dark-row {
  background-image: url("images/www.theodinproject.com/assets/subtle_dark_vertical-21737627e7ce510f7c824b1b94a80fd2ff5ebcd614309b227752493ec92c7b5f.png");
}

.light-row {
  background-color: #ffffff;
}

.dark-row h4 {
  color: #efefef;
}

#lr1 {
  display: block;
  height: 600px;
}

#dr1 {
  display: block;
  height: 700px;
}

#dr1 img {
  float: left;
  height: 75px;
  padding-bottom: 20px;
  padding-right: 30px;
}

#dr1 h4 {
  padding-top: 25px;
}

#dr1 li:after {
  float: none;
}

#lr3 {
  text-align: center;
}

#odin-logo {
  max-height: 40px;
}

#logo {
  font-variant: small-caps;
  color: #eeeeee;
  font-size: 35px;
  text-decoration: none;
  padding-left: 30%;
}

.menu table {
  color: #6699ff;
  margin-right: 10%;
  margin-top: 15px;
  float: right;
}

.menu table td {
  padding-right: 15px;
  padding-left: 15px;
}

.menu table td:last-child {
  border-left: 1px solid #eeeeee;
}

.btn {
  color: #ffffff;
  padding: 15px;
  background-color: #5bb75b;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  border-radius: 20px;
  font-size: 1.8rem;
  width: 500px;
  margin: 25px;
}

footer ul {
  background-color: #191107;
}

footer ul li {
  background-color: #191107;

}
