/* Reset */
@import url("reset.css");

/* Body */

body {
  margin-left: auto;
  margin-right: auto;
}

/* Nav */

.nav {
  background: #191107;
  border-bottom: 1px solid #000000;
}

.top-nav {
  height: 50px;
}

/*  Row */

.row {
  margin: auto;
  width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  display: inline;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
  position: relative;
}

.row:first-child {
  margin-left: 0px;
}

.row:last-child {
  margin-right: 0px;
}

/* Columns */

.row .col-1 {
  width: 90px;
}

.row .col-2 {
  width: 210px;
}

.row .col-3 {
  width: 330px;
}

.row .col-4 {
  width: 450px;
}

.row .col-5 {
  width: 570px;
}

.row .col-6 {
  width: 720px;
}

.row .col-7 {
  width: 810px;
}

.row .col-8 {
  width: 930px;
}

.row .col-9 {
  width: 1050px;
}

.row .col-10 {
  width: 1170px;
}

.row .col-11 {
  width: 1290px;
}

.row .col-12 {
  width: 1410px;
}

/* Move rows */

.row .push_1 {
  right: 120px;
}

.row .push_2 {
  right: 240px;
}

.row .push_3 {
  right: 360px;
}

.row .push_4 {
  right: 470px;
}

.row .push_5 {
  right: 600px;
}

.row .push_6 {
  right: 720px;
}

.row .push_7 {
  right: 840px;
}

.row .push_8 {
  right: 960px;
}

.row .push_9 {
  right: 1080px;
}

.row .push_10 {
  right: 1200px;
}

.row .push_11 {
  right: 1440px;
}

.row .pull_1 {
  right: -120px;
}

.row .pull_2 {
  right: -240px;
}

.row .pull_3 {
  right: -360px;
}

.row .pull_4 {
  right: -470px;
}

.row .pull_5 {
  right: -600px;
}

.row .pull_6 {
  right: -720px;
}

.row .pull_7 {
  right: -840px;
}

.row .pull_8 {
  right: -960px;
}

.row .pull_9 {
  right: -1080px;
}

.row .pull_10 {
  right: -1200px;
}

.row .pull_11 {
  right: -1440px;
}

/* Clear */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* Footer */

footer {
  background-color: #191107;
  padding-top: 10px;
  width: 100%;
  margin: auto;
}
